body {
  margin: 25px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-weight: bold;
  margin-top: 10px;
  padding-top: 50px;
}

/* global styling for all variants of the Notification component */
[class^="notification-"] {
  position: fixed;
  z-index: 1;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.notification-success {
  background-color: #d1e7dd;
  color: #0f5132;
  border: 1px solid #badbcc;
}

.notification-error {
  background-color: #f8d7da;
  color: #842029;
  border: 1px solid #f5c2c7;
}

.notification-notice {
  background-color: #fff3cd;
  color: #574202;
  border: 1px solid #ecdaa5;
}
